#page-title {
    float: center;
    width: 16.67%;
    background-color:#b6ad90;
}
.center {
    margin: auto;
    text-align: center;
}

body {
    background-color: #b6ad90;
}

.top-text {
    color: #7f4f24;
}
.column {
    float: center;
    width: 16.67%;
}
.grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
 }

.row:after {
    content: "";
    display: table;
    clear: both;
}
img {
    max-width: 70%;
}
@media screen and (min-width: 500px) {
img {
    max-width: 100%;
}
}

.footer-nav {
    width: 50%;
    position: absolute;
    bottom: 0px;
}

.footer-nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-nav-links li a {
    text-decoration: none;
    color: #7f4f24;
}


/* Desktop */
@media only screen and (min-width: 768px) {
    #grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 30px;
    }

    #grid-container-text {
        display: flex;
        flex-direction: column;
    }
}

/* Mobile */
@media only screen and (min-width: 600px) {
    #grid-container-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; 
    }

    #grid-container-text p {
        margin-bottom: 10px; 
    }
    #grid-container-images{
      display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        gap: 10px; 
    }
}